body{
	background: #9F897E;
  color: brown;
  font-size: 1.8em;
}
header {
	padding-top: 15px;
	padding-bottom: 20px;
}
header div{
	background: #DDC2B1;
	border: 1pt solid grey;
	border-radius: 10px;
	height: 100px;
	padding-top: 15px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
footer {
	margin-top: 20px;
	margin-bottom: 20px;
}
#box-password {
	margin-top: 20px;
}
.label-pad {
	margin-bottom: 20px;
	font-style: oblique;
	font-size: 1.5em;
}
.label-default{
	background-color: #723030;
}
#main > div, footer > div {
	background: #DDC2B1;
	border: 1pt solid grey;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
#main > div > div, footer > div > div {
	margin-top: 30px;
	margin-bottom: 30px;
}
.box-cambiar-password{
	padding-left: 60px;
}
h2 {
	font-size: 2.5em;
	color: brown;
}
.fl-drch{
  float: right;
}
ul li{
	margin-left: 15px;
  height: 70px;
}
.pagina{
  position: relative;
  top: 15px;
}
.bloque{
  padding-top: 20px;
  padding-bottom: 10px;
}
.vcenter {
  padding-top: 10px;
}
.form-control:focus {
  border: 2pt solid brown ;
  outline: 0;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.080), 0 0 6px rgba(165, 42, 42,.6);
          box-shadow: inset 0 0 10px rgba(0,0,0,.080), 0 0 6px rgba(165, 42, 42,.6);
}