body{
	background: #9F897E;
}
header {
	padding-top: 15px;
	padding-bottom: 20px;
}
section figure{
	padding-bottom: 20px;
}
section figure img{
	border: 1pt solid grey;
	border-radius: 250px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
header div{
	background: #DDC2B1;
	border: 1pt solid grey;
	border-radius: 10px;
	height: 100px;
	padding-top: 15px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
h2 {
	font-size: 2.5em;
	color: brown;
}
footer p{
	padding: 20px;
	font-size: 1.2em;
	color: brown;
	background: #DDC2B1;
	border: 1pt solid grey;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}