body{
  background-color: white;
  background-image: none;
  font-family: verdana;
  margin-right: 10px;
  text-align: center;
}
h1{
  text-align: center;
}
a{
  font-size: 1.2em;
}
.btn{
  text-align:center;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  display:inline-block;
  color: #FFF;
  background: #7F8C8D;
  padding: 15px 30px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}      
.blue{
  background: #3498DB;
}
.blue:hover{
  background: #2980B9;
}
.red{
  background: #E74C3C;
}
.red:hover{
  background: #C0392B;
}